:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate300: hsl(212, 45%, 89%);
    --clr-slate500: hsl(216, 15%, 48%);
    --clr-slate900: hsl(218, 44%, 22%);
    --border-radius: 1rem;
    --max-box-width: 15.625rem;
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

body{
    background-color: var(--clr-slate300);
    min-height: 100vh;
    max-width: 120rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: var(--clr-white);
    border: 1px solid var(--clr-white);
    border-radius: var(--border-radius);
    padding: clamp(1rem, 1vw, 2rem);
    text-align: center;
    max-width: var(--max-box-width);
    box-shadow: var(--box-shadow);
}

img{
    border-radius: var(--border-radius);
    max-width: 100%;
    height: auto;
}

h1{
    font-weight: 700;
    color: var(--clr-slate900);
    margin: 1.25rem 0 1rem;
    font-size: 1.25rem;
}

h2{
    font-weight: 500;
    color: var(--clr-slate500);
    margin: 0 0 1rem; 
    font-size: .9375rem;
    line-height: 1.2;
}