body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    max-width: 1920px;
}

body{
    text-align: center;
    vertical-align: center;
    height: 100%;
    margin: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%); 
    text-align: center;
    border-radius: 16px;
    max-width: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05)
}

img{
    border-radius: 16px;
    max-width: 100%;
    height: auto;
}

h1{
    font-family: "Outfit", sans-serf;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: hsl(218, 44%, 22%);
    margin: 20px 0 15px;
}

h2{
    font-family: "Outfit";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%);
    margin: 0 0 20px;
}